/* Add your desired styles here */
/* The provided CSS is just a basic example */

body {
    margin: 0;
    padding: 0;
    font-family: "Product Sans", Arial, sans-serif;
    background: linear-gradient(to right, rgba(228, 251, 255, 0.7), rgba(34, 54, 57, 0.7));
}

.black-header {
    background: linear-gradient(to right, rgba(228, 251, 255, 0.7), rgba(34, 54, 57, 0.7));
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Add media query for mobile devices */
@media only screen and (max-width: 600px) {
  .black-header {
    flex-direction: column;
    align-items: center;
  }
  .header-right {
    margin-top: 10px;
  }
}

.header-left h1 {
    margin: 0;
}

.large-heading {
    text-align: center;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap; /* Ensure buttons wrap to the next line on small screens */
    justify-content: center; /* Center the buttons horizontally */
}

.social-button {
    display: block;
    margin: 10px;
    width: 200px; /* Fixed width for each button */
    height: 50px; /* Fixed height for each button */
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center; /* Center the text horizontally */
    line-height: 50px; /* Vertically center the text in the button */
}

/* LinkedIn Button */
.social-button[href*="bit.ly/triyanshulinkedin"] {
    background-color: #0072b1;
}

/* GitHub Button */
.social-button[href*="bit.ly/triyanshugithub"] {
    background-color: #6cc644;
}

/* Instagram Button */
.social-button[href*="bit.ly/triyanshuinstagram"] {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

/* Twitter Button */
.social-button[href*="bit.ly/triyanshutwitter"] {
    background-color: black;
    color: white;
}

.black-footer {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.contacts {
    background-color: transparent;
    color: white;
    border: none;
    box-align: right;
}

.white-button {
    background-color: transparent;
    color: white;
    border: none;
    box-align: left;
    text-decoration: none;
}

/* Add any additional styles and animations here */
/* You can create a CSS file just for animations and link it here */
